:root, html.dark {
  --c-brand: #18c7de;
  --c-brand-light: #4af9ff;
}

.navbar {
  background-color: #161b21;

  .search-box input {
    width: 12rem;
  }

  .site-name {
    color: #fff;
    font-size: 1.4rem;
    padding-left: 2rem;
  }

  .toggle-dark-button {
    color: #adbac7
  }
}

h1, h2, h3, h4, h5, h6 {
  outline-style: none;
}
