.content {
  font-size: 10px;
}

body .navbar .site-name {
  color: #fff;
}

body .sidebar > .sidebar-links > li:not(:first-child) {
    margin-top: 0.15rem;
}

body .sidebar > .sidebar-links > li > a.sidebar-link {
    font-size: 1em;
    line-height: 1.7;
    font-weight: normal;
}

// body a.sidebar-link.active {
//   font-weight bold !important;
// }

.navbar {
  background-image: url('https://uk.steergroup.com/themes/custom/steer/logo.png');
  background-repeat: no-repeat;
  background-color: #161B21;
  background-size: 70px auto;
  background-position-x: center;
  background-position-y: center;
}
body .navbar .links {
  background-color: transparent;
}

@media (max-width: 719px) {
  .navbar {
    background-position-x: 200px;
  }  
}