:root, html.dark {
  --c-brand: #18c7de;
  --c-brand-light: #4AF9FF;
}

.navbar {
  background-color: #161B21;
  
  .site-name {
    color: #fff;
    font-size: 1.6rem;
    padding-left: 2rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  outline-style: none;
}
